---
import GithubIcon from "./github-icon.svelte";
import { GITHUB_URL } from "../consts";
---

<header
  class="bg-slate-50 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-80 lg:items-start lg:overflow-y-auto"
>
  <div
    class="relative z-10 mx-auto px-4 pb-4 pt-10 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-slate-200 lg:px-8 lg:py-12 xl:px-12"
  >
    <div class="text-center lg:text-left">
      <p class="text-xl font-bold text-slate-900">
        <a href="/">Builders of stuff</a>
      </p>
      <div class="mt-2 flex justify-center lg:justify-start">
        <a
          href={GITHUB_URL}
          target="_blank"
          class="text-gray-400 hover:text-gray-500"
          aria-label="Github"
        >
          <GithubIcon />
        </a>
      </div>

      <!-- <About extraClasses="mt-12 hidden lg:block" /> -->

      <!-- Projects -->
      <!-- <section class="mt-10 lg:mt-12">
        <h2
          class="sr-only flex items-center font-mono text-sm font-medium leading-7 text-slate-900 lg:not-sr-only"
        >
          <span>Stuff</span>
        </h2>
        <div
          class="h-px bg-gradient-to-r from-slate-200/0 via-slate-200 to-slate-200/0 lg:hidden"
        />
        <ul
          class="mt-4 flex justify-center gap-10 text-base font-medium leading-7 text-slate-700 sm:gap-8 lg:flex-col lg:gap-4"
        >
          {#each projects as [label, url]}
            <li class="flex">
              <a
                href={url}
                target="_blank"
                class="group flex items-center hover:text-blue-500 hover:underline"
                aria-label={label}
              >
                <span class="hidden sm:block">{label}</span>
              </a>
            </li>
          {/each}
        </ul>
      </section> -->
    </div>
  </div>
</header>
